.MovieBox{
   width: 200px;
   height: 170px;
   background-color: #dfdbd8;
   text-align: center;
   transition: all .3s ease-in-out;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
   

   .title{
      background-color: #e2e0d4;
      height: 100px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding-inline: 5px;
      padding-block: 5px;

   }
   .image{
      width:200px;
      height: 200px;
     

      img{
         width: 200px;
         height: 200px;
      }
   }
   &:hover{
      scale:(1.1) ;
   }
   &:active{
      scale: (1);
   }

   @media screen and (max-width:768px) {
      width: 100px;
      height: 100px;
         .title{
            background-color: red;
         }
      
   }
}