.MovieBox{
   width: 200px;
   height: 250px;
   background-color: aliceblue;
   text-align: center;
   


   .image{
      width:200px;
      height: 200px;
     

      img{
         width: 200px;
         height: 200px;
      }
   }
}