.Home{
   width: 100%;
   height: 100vh;
   background-color: #eee;
   display: flex;
   flex-direction: column;
   align-items: center;
   .container{
      // background-color: red;
      width: 90%;
      flex-direction: column;
     
      .search{
      // background-color: yellow;
         width: 50%;
         display: flex;
         justify-content:center;
         padding-block: 20px;
   
         .search-box{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            input{
               padding-inline: 10px;
               padding-block: 15px;
               width: 260px;
            }

            button{
              background-color: #047BD5;
              color: white;
              font-weight: bold;
              border: none;
               padding-block: 15px;
               padding-inline: 30px;

               &:hover{
                  background-color: #0381e1;
               }
               &:active{
                   background-color: #047BD5;
               }
            }
         }
      }

      .movies-show{
         width: 100%;
         height: 100vh;
         background-color: red;
         display: flex;
         flex-wrap: wrap;
         gap: 20px;
         padding-block: 40px;
         padding-inline: 40px;
         justify-content: center;
         
      }
   }
}