.Navbar{
   width: 100%;
   background-color: #e2e0d4;
   
   .container{
      width: 90%;

      nav{
         padding-block: 24px;
         padding-inline: 50px;
         display: flex;
         justify-content:space-between;
         align-items: center;

         h1{
            font-size: 2rem;
         color: #0381e1;
         }
         
      }
   }
   @media screen and (max-width: 768px){
      .container{
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
}
